<div
  class="
    bg-dark flex justify-between md:justify-start gap-8 px-6 py-2 md:mx-10
    md:rounded-lg lg:w-full lg:mx-0 items-center
  "
>
  <div class="hidden md:flex items-center gap-4">
    <%= image_tag "suggestions/icon-suggestions.svg" %>
    <p class="text-white text-lg font-bold">
      <span><%= suggestions_count %></span>&nbsp;Suggestions
    </p>
  </div>
  <div>
    <label for="sort" class="text-white text-sm">Sort by:</label>
    <select
      name="sort"
      id="sort"
      value="most-upvotes"
      class="
        border-none bg-transparent text-white text-sm focus-visible:outline-none
        focus:ring-primary focus:ring-2 rounded
      "
    >
      <option class="text-[initial]" value="most-upvotes">Most upvotes</option>
      <option class="text-[initial]" value="least-upvotes">Least upvotes</option>
      <option class="text-[initial]" value="most-comments">Most comments</option>
      <option class="text-[initial]" value="least-comments">Least upvotes</option>
    </select>
  </div>
  <button
    class="
      bg-fuchsia-600 text-white font-bold flex rounded-xl px-4 py-2 items-center
      text-sm md:ml-auto gap-2
    "
  >
    <span class="text-center ">
      +
    </span>
    <span class="hidden min-[425px]:inline">Add feedback</span>
  </button>
</div>
