<div
  class="
    flex flex-col lg:flex-row lg:gap-9 bg-violet-50 lg:container lg:mx-auto lg:py-14
    2xl:py-24
  "
>
  <%= render partial: "suggestions/layout/index_nav",
  locals: {
      categories: @categories,
    planned_count: @planned_count,
    in_progress_count: @in_progress_count,
    live_count: @live_count,
  } %>
  <div class="grow bg-violet-50 ">
    <%= render "suggestions/layout/index_menu", suggestions_count: @suggestions.count %>
    <main class="bg-violet-50 px-6 py-8 lg:px-0">
      <div class="flex flex-col gap-4">
        <%= render @suggestions %>
      </div>
    </main>
  </div>
</div>
