<nav
  class="
    bg-gradient-to-tr from-rose-500 via-purple-600 to-sky-500 flex justify-between
    items-center px-6 py-4
  "
>
  <div>
    <p class="font-bold text-white">
      Frontend Mentor
    </p>
    <p class="font-medium text-sm text-white">Feedback board</p>
  </div>
  <button>
    <%= image_tag "shared/mobile/icon-hamburger.svg" %>
  </button>
</nav>
<main class="container mx-auto mt-28 px-5 flex">
</main>
